body {
    display: grid;
    grid-template-columns: auto;
}

header, footer, main {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-columns: min-content;
}

footer {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-rows: min-content;
}

.socialLinks, .copyRight {
    grid-column-start: 1;
    grid-column-end: 3;
}